@font-face {
  font-family: "Roboto_30.0.0_google";
  src: url("../fonts/Roboto-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Roboto_30.0.0_google";
  src: url("../fonts/Roboto-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_30.0.0_google";
  src: url("../fonts/Roboto-Medium_30.0.0_google.ttf");
  font-weight: 500; 
}